body {
    font-family:'Times New Roman', Times, serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Container for the patient list */
.patient-list-container {
    max-width: 800px;
    margin: 100px;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Header style */
.patient-list-container h2 {
    color: #333;
    margin-bottom: 20px;
}

.patient-list-container .add-patient-button:hover {
    background-color: #e64d2e;
}

/* Style for the patient list */
.patient-list-container ul {
    list-style-type: none;
    padding: 0;
}

.patient-list-container ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Style for patient name links */
.patient-list-container ul li a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.patient-list-container ul li a:hover {
    text-decoration: underline;
}

/* Style for delete button */
.patient-list-container ul li button {
    background-color: red;
    color: white;
    padding: 5px 30

    px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.patient-list-container ul li button:hover {
    background-color: orangered;
}
